USE [master]
GO
/****** Object:  Database [BitCoin]    Script Date: 5/30/2016 2:37:34 AM ******/
CREATE DATABASE [BitCoin] ON  PRIMARY 
( NAME = N'BitCoin', FILENAME = N'C:\Users\khiem\BitCoin.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BitCoin_log', FILENAME = N'C:\Users\khiem\BitCoin_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BitCoin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BitCoin]
GO
/****** Object:  Table [dbo].[Administration]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AccountName] [varchar](250) NOT NULL,
	[BitcoinAddress] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Commission]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commission](
	[CommissionId] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NOT NULL,
	[ToUserId] [int] NOT NULL,
	[CommissionPrice] [float] NOT NULL,
	[CommissionDate] [datetime] NOT NULL,
	[CommissionType] [int] NOT NULL,
 CONSTRAINT [PK_Commission] PRIMARY KEY CLUSTERED 
(
	[CommissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Level]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[LevelID] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Status] [bit] NOT NULL,
	[Rate] [float] NOT NULL,
	[PersonNumber] [int] NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order](
	[OrderCode] [varchar](10) NOT NULL,
	[UserID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[RemainingAmount] [decimal](18, 2) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[OrderNumber] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](5) NOT NULL,
	[BitcoinAddress] [varchar](250) NULL,
 CONSTRAINT [PK_Bid] PRIMARY KEY CLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailCode] [varchar](10) NOT NULL,
	[PHOrderCode] [varchar](10) NOT NULL,
	[GHOrderCode] [varchar](10) NOT NULL,
	[SenderId] [int] NOT NULL,
	[ReceiverId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Confirmation] [nvarchar](max) NULL,
	[Status] [tinyint] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[OrderNumber] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__OrderDet__6AC97AB8774BEC40] PRIMARY KEY CLUSTERED 
(
	[OrderDetailCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PipCoin]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PipCoin](
	[PipCoinId] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](10) NOT NULL,
	[Amount] [float] NOT NULL,
	[Type] [int] NOT NULL,
	[InterestByDay] [float] NOT NULL,
	[DateCreate] [datetime] NOT NULL,
 CONSTRAINT [PK_PipCoin] PRIMARY KEY CLUSTERED 
(
	[PipCoinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/30/2016 2:37:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[SponsorID] [nvarchar](250) NOT NULL,
	[EmailID] [nvarchar](250) NOT NULL,
	[Currency] [int] NOT NULL,
	[MobileNo] [nvarchar](50) NOT NULL,
	[AssociateName] [nvarchar](250) NOT NULL,
	[Country] [nvarchar](250) NOT NULL,
	[State] [nvarchar](250) NOT NULL,
	[City] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LevelID] [int] NULL,
	[Rate] [float] NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bank] ON 

INSERT [dbo].[Bank] ([Id], [UserID], [AccountName], [BitcoinAddress]) VALUES (11, 3, N'Do Man', N'1EdgdFmtXkfgubJYDnJjHYyqK8CQPtCbJ2')
INSERT [dbo].[Bank] ([Id], [UserID], [AccountName], [BitcoinAddress]) VALUES (12, 4, N'Nguyen Superman', N'H2812hjasdu9G627sadjh22h1jsudqwx23875sd235gh456')
SET IDENTITY_INSERT [dbo].[Bank] OFF
SET IDENTITY_INSERT [dbo].[Commission] ON 

INSERT [dbo].[Commission] ([CommissionId], [FromUserId], [ToUserId], [CommissionPrice], [CommissionDate], [CommissionType]) VALUES (5, 5, 3, 0.15000000596046448, CAST(N'2016-05-23 23:46:05.910' AS DateTime), 0)
INSERT [dbo].[Commission] ([CommissionId], [FromUserId], [ToUserId], [CommissionPrice], [CommissionDate], [CommissionType]) VALUES (6, 9, 13, 0.15000000596046448, CAST(N'2016-05-23 23:47:18.787' AS DateTime), 1)
INSERT [dbo].[Commission] ([CommissionId], [FromUserId], [ToUserId], [CommissionPrice], [CommissionDate], [CommissionType]) VALUES (7, 13, 3, 0.022500000894069672, CAST(N'2016-05-23 23:47:18.793' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Commission] OFF
INSERT [dbo].[Level] ([LevelID], [Name], [Status], [Rate], [PersonNumber]) VALUES (1, N'Level giới thiệu', 1, 15, 5)
INSERT [dbo].[Level] ([LevelID], [Name], [Status], [Rate], [PersonNumber]) VALUES (2, N'Level 2', 1, 10, 3)
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderCode], [UserID], [Amount], [RemainingAmount], [CreateDate], [Status], [OrderNumber], [Type], [BitcoinAddress]) VALUES (N'1111111111', 3, CAST(0.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2016-05-22 00:00:00.000' AS DateTime), 1, 1039, N'GH', N'1EdgdFmtXkfgubJYDnJjHYyqK8CQPtCbJ2')
INSERT [dbo].[Order] ([OrderCode], [UserID], [Amount], [RemainingAmount], [CreateDate], [Status], [OrderNumber], [Type], [BitcoinAddress]) VALUES (N'1344646511', 4, CAST(0.50 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2016-05-27 15:03:25.000' AS DateTime), 1, 1040, N'PH', NULL)
INSERT [dbo].[Order] ([OrderCode], [UserID], [Amount], [RemainingAmount], [CreateDate], [Status], [OrderNumber], [Type], [BitcoinAddress]) VALUES (N'2222222222', 3, CAST(0.50 AS Decimal(18, 2)), CAST(0.10 AS Decimal(18, 2)), CAST(N'2016-05-25 00:00:00.000' AS DateTime), 1, 1047, N'GH', N'1EdgdFmtXkfgubJYDnJjHYyqK8CQPtCbJ2')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailCode], [PHOrderCode], [GHOrderCode], [SenderId], [ReceiverId], [Amount], [Confirmation], [Status], [CreateDate], [OrderNumber]) VALUES (N'1337327715', N'1344646511', N'1111111111', 4, 3, CAST(0.10 AS Decimal(18, 2)), N'20160528151208409d4mbv64qkbmay giat.jpg', 2, CAST(N'2016-05-28 00:00:00.000' AS DateTime), 1024)
INSERT [dbo].[OrderDetail] ([OrderDetailCode], [PHOrderCode], [GHOrderCode], [SenderId], [ReceiverId], [Amount], [Confirmation], [Status], [CreateDate], [OrderNumber]) VALUES (N'2882117647', N'8171538684', N'7548833814', 5, 4, CAST(0.40 AS Decimal(18, 2)), N'20160530014757644jvmr62vjkzmgcn.gif', 1, CAST(N'2016-05-30 00:00:00.000' AS DateTime), 2039)
INSERT [dbo].[OrderDetail] ([OrderDetailCode], [PHOrderCode], [GHOrderCode], [SenderId], [ReceiverId], [Amount], [Confirmation], [Status], [CreateDate], [OrderNumber]) VALUES (N'4344353326', N'8171538684', N'1111111111', 5, 3, CAST(0.10 AS Decimal(18, 2)), N'20160528151307493jvmr62vjkzmgcn.gif', 2, CAST(N'2016-05-28 00:00:00.000' AS DateTime), 1025)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [SponsorID], [EmailID], [Currency], [MobileNo], [AssociateName], [Country], [State], [City], [Password], [Status], [FullName], [CreateDate], [LevelID], [Rate]) VALUES (3, N'dbman.online@gmail.com', N'dbman.neobux@gmail.com', 1, N'0906367747', N'', N'+84', N'Ho Chi Minh', N'Ho Chi Minh', N'e10adc3949ba59abbe56e057f20f883e', 1, N'Do Ba Man', CAST(N'2016-04-29 16:11:52.297' AS DateTime), 2, NULL)
INSERT [dbo].[User] ([UserID], [SponsorID], [EmailID], [Currency], [MobileNo], [AssociateName], [Country], [State], [City], [Password], [Status], [FullName], [CreateDate], [LevelID], [Rate]) VALUES (4, N'dbman.online@photographer.com', N'superman@marvel.com', 1, N'123456789', N'SuperMan', N'Vietnam', N'Ha Noi', N'Ha Noi', N'e10adc3949ba59abbe56e057f20f883e', 1, N'Nguyen Superman', CAST(N'2015-04-28 00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[User] ([UserID], [SponsorID], [EmailID], [Currency], [MobileNo], [AssociateName], [Country], [State], [City], [Password], [Status], [FullName], [CreateDate], [LevelID], [Rate]) VALUES (5, N'dbman.neobux@gmail.com', N'dbman.link@gmail.com', 1, N'0123456789', N'', N'+84', N'Ho chi Minh', N'Ho Chi Minh', N'e10adc3949ba59abbe56e057f20f883e', 1, N'Đỗ Mẫn', CAST(N'2016-04-29 20:46:42.873' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Bank]  WITH CHECK ADD  CONSTRAINT [FK_Bank_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Bank] CHECK CONSTRAINT [FK_Bank_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([PHOrderCode])
REFERENCES [dbo].[Order] ([OrderCode])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order1] FOREIGN KEY([GHOrderCode])
REFERENCES [dbo].[Order] ([OrderCode])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order1]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order2] FOREIGN KEY([PHOrderCode])
REFERENCES [dbo].[Order] ([OrderCode])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order2]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_User1] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_User1]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_User2] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_User2]
GO
ALTER TABLE [dbo].[PipCoin]  WITH CHECK ADD  CONSTRAINT [FK_PipCoin_Order] FOREIGN KEY([OrderCode])
REFERENCES [dbo].[Order] ([OrderCode])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PipCoin] CHECK CONSTRAINT [FK_PipCoin_Order]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Level] FOREIGN KEY([LevelID])
REFERENCES [dbo].[Level] ([LevelID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Level]
GO
USE [master]
GO
