<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="BitcoinEntities" connectionString="metadata=res://*/DTO.BitcoinModel.csdl|res://*/DTO.BitcoinModel.ssdl|res://*/DTO.BitcoinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=desktop-8815o6k;initial catalog=bitcoin;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
